/*
RESET CSS
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  font-size: 1.7rem;
  line-height: 150%;
  background: #feca57;
  color: #333;
}

a {
  text-decoration: none;
}